@import "tailwindcss";

@theme {
  /* ألوان الهوية لـ Djerba Console */
  --color-brand-primary: #0037AE;    /* PlayStation Deep Blue */
  --color-brand-accent: #0072CE;     /* Electric Blue / Universal Gaming Hint */
  --color-brand-dark: #111827;       /* الرمادي الداكن للنصوص والخلفيات الاحترافية */
  --color-brand-light: #F9FAFB;      /* الخلفية البيضاء النقية والمريحة */
  
  /* ألوان الحالات والتوفر */
  --color-status-success: #10B981;   /* الأخضر لأيقونة الواتساب والتوفر */
  --color-status-danger: #EF4444;    /* الأحمر للتنبيهات والأعطال */
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}